@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

body {
    padding: 0;
    margin: 0;
    perspective-origin: 0% 50%;
    perspective: 50rem;
    background: #21212d;
}

a, a:active, a:visited {
    text-decoration: none;
    color: #9dc6d1;
}

section {
    display: none;
}

.section-active {
    display: block;
}

#intro {
    /* background: url("images/cover.jpeg"); */
    background-size: auto;
}

.me .text {
    width: auto;
    margin-left: 10rem;
    margin-right: -6rem;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    color: #34a4eb;
}

.me .showme {
    width: auto;
    height: 7rem;
    padding-left: 13rem;
    padding-bottom: 1rem;
}

.intro {
    height: calc(100vh - 7rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3.5rem 4rem 3.5rem 7.5rem;
}

img {
    width: 17.1875rem;
    height: 21.875rem;
}

.description {
    width: auto;
    height: fit-content;
    padding-top: 10rem;
    margin: auto;
    margin-left: 10rem;
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
}

.description span {
    width: auto;
    font-size: 1.75rem;
    font-weight: 600;
}

.skills {
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.holder {
    width: 60%;
    margin-top: 4rem;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skills div img {
    height: 75px;
    width: 75px;
    padding: 10px;
}

.skillslabel {
    margin-top: 2rem;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    font-family: 'Kaushan Script', cursive;
}

.skillsdesc {
    margin-top: 1rem;
    text-align: center;
}
